{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "About Technical Assurance"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          The Technical Assurance service helps ensure DEFRA's digital services meet the 
          <a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">Government Service Standard</a> 
          and <a href="https://www.gov.uk/service-manual/technology" class="govuk-link">Technology Code of Practice</a>.
        </p>
        
        <p>
          We work with delivery teams to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Review technical approaches and architectures</li>
          <li>Provide guidance on GDS best practices and standards</li>
          <li>Help prepare for service assessments</li>
          <li>Identify and mitigate technical risks</li>
          <li>Share knowledge and promote consistency across services</li>
        </ul>

        <p>
          Our goal is to support teams in building high-quality, user-centered digital services
          that meet government standards and deliver value for citizens.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
