$govuk-assets-path: '/govuk/assets/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';

@import "govuk-frontend/dist/govuk/all";

// Your custom styles below 