{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "View and manage technical assurance reviews for DDTS projects."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">{{ description }}</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Project name</th>
            <th scope="col" class="govuk-table__header">RAG status</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in projects %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ project.name }}</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag 
                  {% if project.status === 'RED' %}govuk-tag--red
                  {% elif project.status === 'AMBER' %}govuk-tag--yellow
                  {% elif project.status === 'GREEN' %}govuk-tag--green
                  {% endif %}">
                  {{ project.status }}
                </strong>
              </td>
              <td class="govuk-table__cell">{{ project.lastUpdated }}</td>
              <td class="govuk-table__cell">
                <a href="/projects/{{ project.id }}" class="govuk-link">{{ project.actions }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
